<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A travel application that includes a form where the user can enter the location he is traveling to and the date he is leaving."
    />
  </head>

  <body>
    <h1>Travel Planner</h1>

    <main>
      <form>
        <div>
          <p class="text-l">My trip to:</p>
          <input
            id="location"
            class="text-l input"
            type="text"
            placeholder="Paris, France"
          />
        </div>
        <div>
          <p class="text-l">Departing:</p>
          <input id="date" class="text-l input" type="date" />
        </div>
        <button type="submit" id="save" class="text-m button-save">
          submit
        </button>
      </form>

      <div id="trips-placeholder"></div>
    </main>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }

      document.addEventListener('DOMContentLoaded', function () {
        document
          .getElementById('save')
          .addEventListener('click', Client.handleSubmit);
      });
    </script>
  </body>
</html>
