<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <!-- TODO -->
    <!-- <meta name="description" content="" /> -->
  </head>

  <body>
    <h1>Travel Planner</h1>

    <main>
      <article>
        <img id="image" />
        <div class="card-content">
          <h2>My trip to: Paris, France</h2>
          <p class="text-l">Departing: 02/12/2020</p>
          <div class="buttons-container">
            <button class="text-m button-save">save trip</button>
            <button class="text-m button-remove">remove trip</button>
          </div>
          <p class="text-m">Paris, France is 220 days away</p>
          <div class="weather-container">
            <p class="text-m">Typical weather for then is:</p>
            <p class="text-s">High - 46, Low - 35</p>
            <p class="text-s">Mostly cloudy throughout the day</p>
          </div>
        </div>
      </article>
    </main>
  </body>
</html>
