<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <!-- TODO -->
    <!-- <meta name="description" content="" /> -->
  </head>

  <body>
    <h1>Travel Planner</h1>

    <main>
      <form>
        <div>
          <p class="text-l">My trip to:</p>
          <input
            id="location"
            class="text-l input"
            type="text"
            placeholder="Enter a Location"
          />
        </div>
        <div>
          <p class="text-l">Departing:</p>
          <input id="date" class="text-l input" type="date" />
        </div>
        <div class="buttons-container">
          <button id="save" class="text-m button-save">save trip</button>
          <button class="text-m button-remove">remove trip</button>
        </div>
      </form>

      <div id="trips-placeholder">
        <!-- TODO grant rights to pixabay -->
        <!-- <article>
        <img id="image" />
        <div class="card-content">
          <p class="text-l">My trip to: Paris, France</p>
          <p class="text-l">Departing: 02/12/2020</p>
          <div class="buttons-container">
            <button class="text-m button-save">save trip</button>
            <button class="text-m button-remove">remove trip</button>
          </div>
          <p class="text-m">Paris, France is 220 days away</p>
          <div class="weather-container">
            <p class="text-m">Typical weather for then is:</p>
            <p class="text-s">Temperature - 46, Feels like - 35</p>
            <p class="text-s">Mostly cloudy throughout the day</p>
          </div>
        </div>
      </article> -->
      </div>
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document
          .getElementById('save')
          .addEventListener('click', Client.handleSubmit);
      });
    </script>
  </body>
</html>
